@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
* {
  font-family: "Sora", sans-serif !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.input:focus {
  border-color: #fff !important;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.3),
    2px 2px 2px 2px rgba(255, 255, 255, 0.1) !important;
}

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body {
  background-image: linear-gradient(#8d8d8d13 0.1%, #050505a4 40%) !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
}

.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.myfi-bg {
  background-color: rgba(59, 233, 59, 0.692) !important;
}

.myfi-text {
  color: rgb(59, 233, 59);
}

.myfi-text-nohover {
  color: rgb(59, 233, 59);
}

.myfi-text:hover {
  color: white;
}

.tcolor-black {
  color: white !important;
}

.tcolor-black:hover {
  color: black !important;
}

.invalid-credentials {
  color: #ff4d4d !important;
}

.requirements {
  display: inline-block;
  text-align: left;
}

.checkings-form {
  width: 500px !important;
}

.center {
  display: flex;
  justify-content: center;
}

.center-element {
  max-width: 400px;
  min-height: 50px;
  padding-top: 35px;
  margin: auto;
}

.text-center {
  text-align: center !important;
}

.center-element {
  width: 600px;
  min-height: 50px;
  padding-top: 35px;
  margin: auto;
}
