@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
* {
  font-family: "Sora", sans-serif !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.input:focus {
  border-color: #fff !important;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.3),
    2px 2px 2px 2px rgba(255, 255, 255, 0.1) !important;
}

html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.box {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.myfi-bg {
  background-color: rgba(59, 233, 59, 0.692) !important;
}

.myfi-text {
  color: rgb(59, 233, 59);
}

.myfi-text-nohover {
  color: rgb(59, 233, 59);
}

.myfi-text:hover {
  color: white;
}

.tcolor-black {
  color: white !important;
}

.tcolor-black:hover {
  color: black !important;
}

.invalid-credentials {
  color: #ff4d4d !important;
}

.requirements {
  display: inline-block;
  text-align: left;
}

.checkings-form {
  width: 500px !important;
}

.center {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center !important;
}
