html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.box {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.myfi-bg {
  background-color: rgba(59, 233, 59, 0.692) !important;
}

.myfi-text {
  color: rgb(59, 233, 59);
}

.myfi-text:hover {
  color: white;
}

.tcolor-black {
  color: white !important;
}

.tcolor-black:hover {
  color: black !important;
}

.invalid-credentials {
  color: #ff4d4d !important;
}

.requirements {
  display: inline-block;
  text-align: left;
}
